<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/employees" routerLinkActive="active" class="nav-link" >Book List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="/create-employee" routerLinkActive="active" class="nav-link" >Add Book</a>
        </li>
    </ul>
</nav>
<div class="container">
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Book Name</th>
            <th> Author Name </th>
            <th> price</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
          <td>
            <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
            <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>

          </td>
    </tr>
    </tbody>
    </table>
    </div>
    <footer class = "footer">
        <div class = "container">
            <span>All Rights Reserved 2020</span>
        </div>
    </footer>